/* CONTACT */

.contact{
  padding:120px 8%;
}

.contact-box{
  max-width:800px;

  margin:auto;

  padding:60px;

  border-radius:30px;

  background:
  rgba(255,255,255,0.04);

  border:
  1px solid rgba(255,255,255,0.08);

  backdrop-filter:blur(10px);

  transition:.4s;
}

.card::before{
  content:'';

  position:absolute;

  width:200px;
  height:200px;

  background:
  rgba(96,165,250,0.08);

  border-radius:50%;

  top:-80px;
  right:-80px;

  filter:blur(40px);
}

.card:hover{
  border:
  1px solid rgba(96,165,250,0.3);

  box-shadow:
  0 0 40px rgba(96,165,250,0.15);
}

.card h2{
  margin-bottom:20px;
  color:#60a5fa;
}

.card p{
  color:#cbd5e1;
  line-height:1.7;
}

/* ABOUT */

.about{
  padding:120px 8%;

  display:grid;

  grid-template-columns:
  repeat(auto-fit,minmax(300px,1fr));

  gap:60px;

  align-items:center;
}

.about-badge{
  display:inline-block;

  padding:10px 20px;

  border-radius:50px;

  background:
  rgba(96,165,250,0.08);

  border:
  1px solid rgba(96,165,250,0.3);

  color:#93c5fd;

  margin-bottom:25px;
}

.about h2{
  font-size:3rem;

  margin-bottom:25px;

  line-height:1.2;
}

.about p{
  color:#cbd5e1;

  line-height:1.8;
}

.stats{
  display:grid;

  grid-template-columns:
  repeat(auto-fit,minmax(150px,1fr));

  gap:25px;
}

.stat{
  padding:40px;

  border-radius:20px;

  background:
  rgba(255,255,255,0.04);

  border:
  1px solid rgba(255,255,255,0.08);

  text-align:center;

  backdrop-filter:blur(10px);
}

.stat h3{
  font-size:2.5rem;

  color:#60a5fa;

  margin-bottom:10px;
}

.stat span{
  color:#cbd5e1;
}

/* PROJECTS */

.projects{
  padding:120px 8%;
}

.project-title{
  text-align:center;
  margin-bottom:70px;
}

.project-badge{
  display:inline-block;

  padding:10px 20px;

  border-radius:50px;

  background:
  rgba(96,165,250,0.08);

  border:
  1px solid rgba(96,165,250,0.3);

  color:#93c5fd;

  margin-bottom:25px;
}

.project-title h2{
  font-size:3rem;

  margin-bottom:40px;
}

.contact-form{
  display:flex;

  grid-template-columns:
  repeat(auto-fit,minmax(300px,1fr));

  gap:20px;
}

.project-card{
  background:
  rgba(255,255,255,0.04);

  border:none;

  border-radius:14px;

  background:
  rgba(255,255,255,0.05);

  color:white;

  outline:none;

  font-size:1rem;
}

.contact-form textarea{
  min-height:180px;

  resize:none;
}